@charset "utf-8";

/*-------------------------------------------------------------------------------
 *UI 가이드
--------------------------------------------------------------------------------*/
/* 공통 적용 */
.num em { font-family: tahoma; color: #099be8; vertical-align: baseline; }

/* 박스 */
.big-box { margin-top: 40px; } 
.middle-box { margin-top: 20px; } 
.small-box { margin-top: 12px; } 
 
/* 타이틀 */
.title { display: block; padding-bottom: 10px; }
.title.line { border-bottom: 1px solid #ccc; }
.title .text { font-size: 20px; font-weight: bold; }
.title.ty2 { padding-bottom: 5px; } 
.title.ty2 .text { font-size: 18px; } 

/* 이미지 리스트 */
/* 상품 박스 */
.item-box { display: block; position: relative; overflow: hidden; }
.item-box .item { display: block; }
.item-box .name,
.item-box .text,
.item-box .text2, 
.item-box .num { display: block; margin-top: 8px; }
.item-box .text { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.item-box .text2 { margin-top: 16px; color: #666; line-height: 1.5; }
.item-box .num { color: #666; margin-top: 5px; }
.item-box .name { font-size: 14px; font-weight: bold; }

.item-box.col .item { display: block; float: left; margin-right: 17px; width: 128px; height: 118px; border: 1px solid #c6ccd2;}
.item-box.col .info { display: block; overflow: hidden; } 

/* 이미지 박스 */
.img-box { display: block; margin-bottom: 12px; padding: 20px; background-color: #f9f9f9; }
.img-box .num { position: absolute; bottom: 0; left: 147px; }
.img-box .num em { font-size: 32px; font-weight: bold; }

/* 리스트 */
.img-list { overflow: hidden; position: relative; margin: -12px 0 0 -12px; }
.img-list li { float: left; width: 100%; }
.img-list li > * { margin: 12px 0 0 12px; }

.btn-fix-box.two .btn,
.img-list.two li { width: 50%; } 
.btn-fix-box.three .btn,
.img-list.three li { width: 33.334%; } 
.img-list.three li.sum { width: 66.667%; } 
.btn-fix-box.four .btn, 
.img-list.four li { width: 25%; } 
.btn-fix-box.five .btn,
.img-list.five li { width: 20%; } 

/* 경고 메세지 */
.mes { display: none; margin-top: 5px; color: red; } 

/* 텍스트 리스트 */
.text-list { width: 100%; }
.text-list a { display: block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.text-list li +li a { margin-top: 12px; }

/* 점 리스트 */
.text-list.dot a { position: relative; padding-left: 13px; }
.text-list .dot { position: absolute; top: 50%; left: 4px; margin-top: -1px; width: 2px; height: 2px; background-color: #666; }

/* 테이블 */
.table { border-top: 1px solid #ccc; width: 100%; table-layout: fixed; }
.table tbody tr th,
.table tbody tr td { padding: 5px 9px; border-bottom: 1px solid #ccc; color: #000; text-align: left; font-weight: normal; font-size: 14px; *zoom:1; position: relative;}
.table tbody tr th+td,
.table tbody tr td+th { border-left: 1px solid #ccc; }
.table tbody tr td { font-size: 12px; }
.table tbody .pa-th th,
.table tbody .pa-th td { padding: 8px 9px; }

/* 기본 폼 */
.input { width: 102px; height: 18px; padding: 0 5px; border: 1px solid #cdcdcd; font-size: 12px; color: #182f5d; line-height: 18px; }
.radio { width: 10px; height: 10px; }
.checkbox { width: 10px; height: 10px; }
.select { height: 20px; font-size: 12px; }
.bar { display: block; position: relative; width: 14px; height: 20px; }
.bar em { position: absolute; top: 50%; left: 50%; margin: -1px 0 0 -2px; width: 4px; height: 1px; background-color: #444; }

/* 폼 공통 적용 */
.col-form { overflow: hidden; }
.col-form > * { float: left; }
.col-form > * +*{ margin-left: 10px; }

.col-form label + .radio,
.col-form label + .checkbox{  }
.col-form.ty2 >*+ * { float: right; margin-left: 0; }

/* 이메일 폼 */
.email-box { overflow: hidden; }
.email-box .input{ float: left; }
.email-box .arobase { display: block; float: left; height: 20px; width: 30px; line-height: 20px; text-align: center; }

/* 휴대폰 폼 */
.phone-box { overflow: hidden; }
.phone-box .input,
.phone-box .select{ float: left; width: 50px; }
.phone-box .input{ width: 38px; }
.phone-box .bar { float: left; }

/* 버튼 */
.btn { display: inline-block; *display: inline; overflow: visible; padding: 0 20px; border: 1px solid #888; background-color: #e5e5e5; text-align: center;  }
/* 크기별 */
.btn-lg { height: 40px; line-height: 38px; }
.btn-s { height: 30px; line-height: 28px; }

/* 스타일별 */
.btn-ty2,
.btn-ty3{ width: 120px; padding: 0; }
.btn-ty2 { border: 1px solid #0D47A1; background-color: #64B5F6;}
.btn-ty3 { border: 1px solid #311B92; background-color: #9575CD;}

.bg-bar { position: absolute; top: 50%; left: 0; margin-top: -13px; width: 1px; height: 23px; background-color: #8ac9f4; }

/* 마우스 오버시 버튼 */
.btn:hover { background-color: #888; color: #fff; }
.btn-ty2:hover { background-color: #0D47A1; color: #fff; }
.btn-ty3:hover { background-color: #311B92; color: #fff; }
.btn-box { display: block; margin-top: 24px; text-align: center; }
.btn.on .bg-bar,
.btn.on + .btn .bg-bar,
.btn:hover + .btn .bg-bar,
.btn:hover .bg-bar,
.tab-btn.on .bg-bar,
.tab-btn.on + .tab-btn .bg-bar,
.tab-btn:hover + .tab-btn .bg-bar,
.tab-btn:hover .bg-bar { display: none; }

.btn-fix-box { width: 100%; overflow: hidden; }
.btn-fix-box .btn { display: block; position: relative; float: left;}
.btn-fix-box .bg-bar { background-color: #fff; }

/* 슬라이드 */
.slide-box { position: relative; }
.slide-box .slide { position: relative; width: 100%; overflow: hidden; margin: 0 auto; }
.slide .slide-list { overflow: hidden; position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.slide .slide-list li { float: left; width:348px; height: 348px; border: 1px solid #5c5a58; }

.slide-box .pager-view { overflow: hidden; position: relative; width: 230px; padding: 0 60px; margin: 30px auto 0; }
.slide-box .pager-view .page-box { float: left; position: relative; overflow: hidden; width: 230px; height: 60px; }
.slide-box .pager-view .page-list { position: absolute; top:0; left: 0; }
.slide-box .pager-view .page-list li { float: left; width: 58px; margin: 0 8px; height: 58px; border: 1px solid #444; }
.slide-box .pager-view .page-list li img { width: 58px; height: 58px; }
.slide-box .pager-view .page-list li.on{ border-color: red; } 
.slide-box .pager-view .prev, 
.slide-box .pager-view .next { position: absolute; top: 0;  width: 60px; height: 60px; text-indent: -999px; overflow: hidden; }
.slide-box .pager-view .prev { display: none; left: 0; background: url(../img/common/bg-arrow.png) no-repeat left center; }
.slide-box .pager-view .next { right: 0; background: url(../img/common/bg-arrow.png) no-repeat right center;  }

/* tab 박스 */
.tab-box { overflow: hidden; position: relative; width: 100%; }
.tab-box .tab-head { display: block; overflow: hidden; float: left; position: relative; margin-bottom: -1px; padding: 0 1px;  z-index: 2; background-color: #39a1ec; }
.tab-box .tab-body { clear: both; border: 1px solid #39a1ec; }
.tab-box .tab-body .inner-box { padding: 60px 0; width: 100%; }
.tab-head .tab-btn { display: block; position: relative; float: left; margin-top: 3px; width: 110px; height: 36px; line-height: 33px; border: 1px solid #39a1ec; background-color: #39a1ec; color: #fff; text-align: center; }
.tab-head .tab-btn:hover { background-color: #75bef2; border-color: #75bef2; }
.tab-head .tab-btn.on { background-color: #fff; border-color: #fff; color: #39a1ec; }

/* 마우스 오버 박스 */
.over-box { position: relative; border: 2px solid #0096e4;}
.over-box+ .over-box { margin-top: 20px; }
.over-box .img { display: block; }
.over-box .over-view { display: none; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: url(../img/common/bg-dot.png) repeat 0 0; }
.over-box .link-box { position: absolute; top: 50%; left: 50%;margin: -42px 0 0 -61px; width: 122px;  }
.over-box .link-box .btn { display: block; }
.over-box .link-box .btn+.btn { margin-top: 20px; }
.over-box:hover .over-view { display: block; }

.banner-view { width: 304px; margin:0 auto; }
/* 배너모음 박스 */
.banner-box { overflow: hidden; }
.banner-box .left { float: left; width: 504px; margin-right: 10px; }
.banner-box .right { float: left; width: 304px; }

/* 팝업 정리 */
.popup-wrap { display: block; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: url(../img/common/bg-dot2.png) repeat 0 0; z-index: 100; }
.popup-wrap .popup-box { position: absolute; width: 300px; height: 300px; top: 50%; left: 50%; background-color: #fff; }
.popup-title { padding: 10px; border-bottom: 1px solid #888; text-align: center; }
.popup-content { padding: 10px; line-height: 1.5; }
.popup-content span { color: red; }
.popup-close { position: absolute; top: 0px; right: 0px; width: 40px; height: 40px; background: url(../img/common/bg-close.png) no-repeat center center; }

/* 쿠폰리스트 */
.move-btn-box {  }
.coupon-list { position: relative; min-height: 300px; overflow: hidden; margin: 10px 20px 20px 10px; }
.coupon-list li { position: absolute; z-index: 100; margin: 10px 0 0 10px; }
.coupon-list li .bg{ position: absolute; top: 0; bottom: 0; width: 100%; height: 100%; }
.coupon-list li .bg img{ width: 100%; height: 100%; }
.coupon-list li .item { display: block; position: relative; padding:20px; margin-bottom: 6px; width: 200px; min-height: 100px;  border-left: 10px solid #888; z-index: 10; }
.coupon-list li .item .text { display: block; margin-top: 10px; }

/* 화면에 따른 이미지 크기 정의 */
/* page */
.img-size-ty1 img { width: 128px; height: 118px; }
.img-size-ty2 img { width: 117px; height: 74px; }
.img-size-ty3 img { height: 86px; }
.img-size-ty4 img { width: 92px; height: 82px; }
.img-size-ty5 img { width: 160px; height: 150px; }
.img-size-ty5 .sum img { width: 332px; height: 150px; }
.img-size-ty6 img { width: 304px; height: 312px; }
